header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-side {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.menu-side img {
  width: 40px;
  cursor: pointer;
}
.title {
  margin: auto;
  padding-left: 60px;
  font-size: 50px;
  font-weight: bold;
  justify-content: space-between;
}

.many-icons {
  display: flex;
  justify-content: space-between;
  padding: center;
}
.many-icons img {
  width: 40px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
}

footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.keyboard-column {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  border-radius: 10px;
  background-color: #d3d6da;
  width: 45px;
  height: 60px;
}

.keyboard-column-wide {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  border-radius: 10px;
  background-color: #d3d6da;
  width: 70px;
  height: 60px;
}

.keyboard-column-wide img {
  width: 40px;
  padding-right: 5px;
}
